<div class="container">
  <div class="row pt-5 title-header">
      <div class="col text-center">
          <span class="pink">Bad </span>
          <span class="creamy">Photographer</span>
      </div>
  </div>
  <div class="row">
      <div class="col">
          <img class="tiara-img" src="../../../../assets/img/tiara.svg" alt="Tiara">
      </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col text-center" *ngFor="let social of socials">
              <a href="{{social.value}}">
                  <i class="fab social-icon" [ngClass]="social.key"></i>
              </a>
          </div>
      </div>
  </div>
</footer>